<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍿</text></svg>"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="logo">
          <span role="img">👤</span>
          <h1>Followers</h1>
        </div>
        <input
          class="search"
          type="text"
          placeholder="Search people..."
          value=""
        />
        <div class="auth">
          <a href="/movies">Movies</a><a href="/users/logout">Logout</a>
          <img
            src="https://cat-avatars.vercel.app/api/cat?name=<%= currentUser.name %>"
            height="42px"
            width="42px"
            alt="<%= currentUser.name %>"
          />
        </div>
      </nav>
    </header>

    <main class="main">
      <div class="box">
        <ul class="list list-people"></ul>
      </div>
      <div class="box">
        <div class="summary">
          <h2>People you follow</h2>
          <div>
            <p><span title="Total count of your followers">#️⃣</span><span><%= totalFollowingStats.followersCount %></span></p>
            <p><span title="Total count of watched movies by your followers">🎬</span><span><%= totalFollowingStats.movieCount %></span></p>
            <p><span title="Total average of ratings awarded by your follows">⭐️</span><span><%= totalFollowingStats.averageStars %></span></p>
            <p><span title="Total time spent watching movies by your followers">⏳</span><span><%= totalFollowingStats.totalRuntime %> min</span></p>
          </div>
        </div>
        <ul class="list">
          <% for (const follower of followersWithStats) { %>
          <li>
            <img
              src="https://cat-avatars.vercel.app/api/cat?name=<%= follower.userName %>"
              height="40px"
              width="40px"
              alt="<%= follower.userName %>"
            />
            <a href="/followers/<%= follower.userId %>">
              <h3><%= follower.userName %></h3>
            </a>
            <div>
              <p><span title="Total count of watched movies by the follower">🎬</span><span><%= follower.movieCount %></span></p>
              <p><span title="Total average rating awarded by the follower">⭐️</span><span><%= follower.averageStars %></span></p>
              <p><span title="Total time spent watching movies by the follower">⏳</span><span><%= follower.totalRuntime %> min</span></p>
              <a href="/followers/delete/<%= follower.followingId %>" class="btn-delete">X</a>
            </div>
          </li>
          <% } %>
        </ul>
      </div>
    </main>

    <%- include('_notifications') %>
    
    <script>
      const searchBar = document.getElementsByClassName('search')[0];
      const peopleResults = document.getElementsByClassName('list-people')[0];

      let debounceTimer;

      searchBar.addEventListener('input', () => {
        clearTimeout(debounceTimer);
        const query = searchBar.value.trim();

        if (query) {
          debounceTimer = setTimeout(() => fetchPeople(query), 300);
          return;
        }

        peopleResults.innerHTML = '';
      });

      async function fetchPeople(query) {
        try {
          const res = await fetch(`/users/search?s=${query}`);
          if (!res.ok) {
            throw new Error('Something went wrong with fetching people.');
          }
          const data = await res.json();
          if (data.Response === 'False') throw new Error('People not found');
          displayPeople(data);
        } catch (err) {
          console.error(err);
        }
      }

      function displayPeople(people) {
        if (people.length === 0) return;

        peopleResults.innerHTML = '';

        people.forEach((person) => {
          const personItem = document.createElement('li');
          personItem.innerHTML = `
            <img src="https://cat-avatars.vercel.app/api/cat?name=${person.name}" picture">
            <a href='/followers/${person.id}'>
              <h3>${person.name}</h3>
            </a>
            <div>
              <p><span>🎬</span><span>${person.movieCount}</span><span>⭐️</span><span>${person.averageStars}</span><span>⏳</span><span>${person.totalRuntime}</span></p>
            </div>`;
          peopleResults.appendChild(personItem);
        });
      }
    </script>
  </body>
</html>
