<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍿</text></svg>"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="logo">
          <span role="img">👤</span>
          <h1>Followers</h1>
        </div>
        <div></div>
        <div class="auth">
          <a href="/followers">Followers</a><a href="/logout">Logout</a
          ><span>Jan</span>
        </div>
      </nav>
    </header>

    <main class="main">
      <div class="box">
        <a href="/followers" class="btn-back">x</a>
        <div class="details">
          <header>
            <img
              src="https://cat-avatars.vercel.app/api/cat?name=<%= user.name %>"
              alt="Profile picture of <%= user.name %>"
              class="avatar"
            />
            <div class="details-overview">
              <h2><%= user.name %></h2>
              <form
                class="follow"
                action="/followers/add"
                method="POST"
              >
                <input type="hidden" name="userId" value="<%= user.id %>" />
                <button id="submit-follow" class="btn-follow">+ Follow user</button>
              </form>
              <!-- <form
                class="follow"
                action="/followers/remove"
                method="POST"
              >
                <input type="hidden" name="userId" value="<%= user.id %>" />
                <button id="submit-follow" class="btn-follow">- Unfollow user</button>
              </form> -->
            </div>
          </header>
          <section>
            <% 
            const movieDifference = myMovStatistics.movieCount - userMovStatistics.movieCount;
            const ratingDifference = (myMovStatistics.averageStars - userMovStatistics.averageStars).toFixed(1);
            %>
            <p><%= movieDifference > 0 ? `${user.name} is ${movieDifference} 🎬 behind you!` : `${user.name} is ${-movieDifference} 🎬 ahead!` %></p>
            <p><%= ratingDifference > 0 ? `${user.name}'s average rating is lower by ${ratingDifference} ⭐️` : `${user.name}'s average rating is higher by ${-ratingDifference} ⭐️` %></p>
          </section>
        </div>
      </div>
      <div class="box">
        <a href="/followers" class="btn-back">x</a>
        <div class="summary">
          <h2>Movies rated by <%= user.name %></h2>
          <div>
            <p><span>#️⃣</span><span><%= userMovStatistics.movieCount %></span></p>
            <p><span>⭐️</span><span><%= userMovStatistics.averageStars %></span></p>
            <p><span>⏳</span><span><%= userMovStatistics.totalRuntime %> min</span></p>
            <p><span>👤</span><span><%= userFollStatistics.followersCount %></span></p>
          </div>
        </div>
        <ul class="list">
          <% for (const ratedMovie of ratedMovies) { %>
            <li>
              <img
                src="<%= ratedMovie.movie.poster %>"
                alt="<%= ratedMovie.movie.title %> poster"
              />
              <a href="/movie/<%= ratedMovie.movie.imdbID %>">
                <h3><%= ratedMovie.movie.title %></h3>
              </a>
              <div>
                <p><span>⭐️</span><span><%= ratedMovie.rating.stars %></span></p>
                <p><span>⏳</span><span><%= ratedMovie.movie.runtime %></span></p>
                <p><span>👤</span><span><%= ratedMovie.followersCount %></span></p>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </main>
  </body>
</html>
