<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="logo">
          <span role="img">🍿</span>
          <h1>Movies</h1>
        </div>
        <input
          class="search"
          type="text"
          placeholder="Search movies..."
          value=""
        />
        <!-- <div class="auth"><a>Login</a><a>Register</a></div> -->
        <div class="auth">
          <a href="/followers">Followers</a><a href="/logout">Logout</a
          ><span>Jan</span>
        </div>
      </nav>
    </header>

    <main class="main">
      <div class="box">
        <ul class="list list-movies"></ul>
      </div>
      <div class="box">
        <div class="summary">
          <h2>Movies you watched</h2>
          <div>
            <p><span>#️⃣</span><span>2</span></p>
            <p><span>⭐️</span><span>6.5</span></p>
            <p><span>⏳</span><span>335 min</span></p>
            <p><span>👤</span><span>6</span></p>
          </div>
        </div>
        <ul class="list">
          <% for (const movie of ratedMovies) { %>
            <li>
              <img
                src="<%= movie.poster %>"
                alt="<%= movie.title %> poster"
              />
              <h3><%= movie.title %></h3>
              <div>
                <p><span>⭐️</span><span><%= movie.stars %></span></p>
                <p><span>⏳</span><span><%= movie.runtime %></span></p>
                <p><span>👤</span><span><%= movie.movieId %></span></p>
                <a href="/ratings/delete/<%= movie.ratingId %>" class="btn-delete">X</a>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </main>
    <script>
      const searchBar = document.getElementsByClassName('search')[0];
      const movieResults = document.getElementsByClassName('list-movies')[0];

      let debounceTimer;

      searchBar.addEventListener('input', () => {
        clearTimeout(debounceTimer);
        const query = searchBar.value.trim();

        if (query) {
          debounceTimer = setTimeout(() => fetchMovies(query), 300);
          return;
        }

        movieResults.innerHTML = '';
      });

      const OMDB_API_KEY = '<%= OMDB_API_KEY %>';

      async function fetchMovies(query) {
        try {
          const res = await fetch(
            `https://www.omdbapi.com/?apikey=${OMDB_API_KEY}&s=${query}`,
          );
          if (!res.ok) {
            throw new Error('Something went wrong with fetching movies.');
          }
          const data = await res.json();
          if (data.Response === 'False') throw new Error('Movie not found');

          displayMovies(data.Search);
        } catch (err) {
          console.error(err);
        }
      }

      function displayMovies(movies) {
        if (movies.length === 0) return;

        movieResults.innerHTML = '';

        movies.forEach((movie) => {
          const movieItem = document.createElement('li');
          movieItem.innerHTML = `
            <img src="${movie.Poster}" alt="${movie.Title} poster">
            <a href='/movie/${movie.imdbID}'>
                <h3>${movie.Title}</h3>
            </a>
            <div>
                <p><span>🗓️</span><span>${movie.Year}</span></p>
            </div>`;
          movieResults.appendChild(movieItem);
        });
      }
    </script>
  </body>
</html>
