<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍿</text></svg>"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="logo">
          <span role="img">🍿</span>
          <h1>Movies</h1>
        </div>
        <div></div>
        <div class="auth">
          <a href="/followers">Followers</a><a href="/logout">Logout</a
          ><span>Jan</span>
        </div>
      </nav>
    </header>

    <main class="main">
      <div class="box">
        <a href="../" class="btn-back">x</a>
        <div class="details">
          <header>
            <img
              src="<%= movie.poster %>"
              alt="Poster of <%= movie.title %> movie"
            />
            <div class="details-overview">
              <h2><%= movie.title %></h2>
              <p><%= movie.year %> • <%= movie.runtime %></p>
              <p><%= movie.genre %></p>
              <p><span>⭐</span><%= movie.imdbRating %> IMDb rating</p>
            </div>
          </header>
          <section>
            <% if (rating?.stars) { %>
              <div class="rating">
                <p>You rated this movie with ⭐ <%= rating.stars %></p>
              </div>
            <% } %>
            <% if (!rating?.stars) { %>
              <form class="rating" id="rating-form" action="/ratings/add" method="POST">
                <input type="hidden" name="movieId" value="<%= movie.id %>" />
                <div class="stars">
                  <% for(let i = 10; i > 0; i--) { %>
                    <input type="radio" id="star<%= i %>" name="stars" value="<%= i %>" />
                    <label for="star<%= i %>" title="<%= i %> stars">&#9733;</label>
                  <% } %>
                </div>
                <button id="submit-rating" class="btn-add">
                  + Add to list
                </button>
              </form>
            <% } %>
            <p>
              <em><%= movie.plot %></em>
            </p>
            <p>Starring <%= movie.actors %></p>
            <p>Directed by <%= movie.director %></p>
          </section>
        </div>
      </div>
      <div class="box">
        <a href="../" class="btn-back">x</a>
        <div class="summary">
          <h2>Ratings from followers</h2>
          <div>
            <p><span>#️⃣</span><span><%= totalRatingPerMovie.followersCount %></span></p>
            <p><span>⭐️</span><span><%= totalRatingPerMovie.avgStars %></span></p>
          </div>
        </div>
        <ul class="list">
          <% for (const follower of followersRatingPerMovie) { %>
            <li>
              <img
                src="https://cat-avatars.vercel.app/api/cat?name=<%= follower.followerName %>"
                height="40px"
                width="40px"
                alt="<%= follower.followerName %>"
              />
              <h3><%= follower.followerName %></h3>
              <div>
                <p><span>🎬</span><span><%= follower.totalCountRatedMovies %></span></p>
                <p><span>⭐️</span><span><%= follower.stars %></span></p>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </main>

    <script>
      document.querySelectorAll('input[name="stars"]').forEach((star) => {
        star.addEventListener('change', function () {
          document.getElementById('submit-rating').style.display = 'block';
        });
      });
    </script>
  </body>
</html>
