<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍿</text></svg>"
    />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <div class="logo">
          <span role="img">🍿</span>
          <h1>Movies</h1>
        </div>
        <input
          class="search"
          type="text"
          placeholder="Search movies..."
          value=""
        />
        <div class="auth">
          <a href="/followers">Followers</a><a href="/users/logout">Logout</a>
          <img
            src="https://cat-avatars.vercel.app/api/cat?name=<%= currentUser.name %>"
            height="42px"
            width="42px"
            alt="<%= currentUser.name %>"
          />
        </div>
      </nav>
    </header>

    <main class="main">
      <div class="box">
        <ul class="list list-movies"></ul>
      </div>
      <div class="box">
        <div class="summary">
          <h2>Movies you watched</h2>
          <div>
            <p><span title="Total count of movies watched by you">#️⃣</span><span><%= userMovStatistics.movieCount %></span></p>
            <p><span title="Total average of ratings awarded by you">⭐️</span><span><%= userMovStatistics.averageStars %></span></p>
            <p><span title="Total runtime of your watching movies">⏳</span><span><%= userMovStatistics.totalRuntime %> min</span></p>
            <p><span title="Total count of your followers watched the same movies like you">👤</span><span><%= userFollStatistics.followersCount %></span></p>
          </div>
        </div>
        <ul class="list">
          <% for (const ratedMovie of ratedMovies) { %>
            <li>
              <img
                src="<%= ratedMovie.movie.poster %>"
                alt="<%= ratedMovie.movie.title %> poster"
              />
              <a href="/movies/<%= ratedMovie.movie.imdbID %>">
                <h3><%= ratedMovie.movie.title %></h3>
              </a>
              <div>
                <p><span title="Your rating for the movie in stars">⭐️</span><span><%= ratedMovie.rating.stars %></span></p>
                <p><span title="Runtime of the movie">⏳</span><span><%= ratedMovie.movie.runtime %></span></p>
                <p><span title="Count of your followers watched the movie">👤</span><span><%= ratedMovie.followersCount %></span></p>
                <a href="/ratings/delete/<%= ratedMovie.rating.id %>" class="btn-delete">X</a>
              </div>
            </li>
          <% } %>
        </ul>
      </div>
    </main>

    <%- include('_notifications') %>
    
    <script>
      const searchBar = document.getElementsByClassName('search')[0];
      const movieResults = document.getElementsByClassName('list-movies')[0];

      let debounceTimer;

      searchBar.addEventListener('input', () => {
        clearTimeout(debounceTimer);
        const query = searchBar.value.trim();

        if (query) {
          debounceTimer = setTimeout(() => fetchMovies(query), 300);
          return;
        }

        movieResults.innerHTML = '';
      });

      const OMDB_API_KEY = '<%= OMDB_API_KEY %>';

      async function fetchMovies(query) {
        try {
          const res = await fetch(
            `https://www.omdbapi.com/?apikey=${OMDB_API_KEY}&s=${query}`,
          );
          if (!res.ok) {
            throw new Error('Something went wrong with fetching movies.');
          }
          const data = await res.json();
          if (data.Response === 'False') throw new Error('Movie not found');

          displayMovies(data.Search);
        } catch (err) {
          console.error(err);
        }
      }

      function displayMovies(movies) {
        if (movies.length === 0) return;

        movieResults.innerHTML = '';

        movies.forEach((movie) => {
          const movieItem = document.createElement('li');
          movieItem.innerHTML = `
            <img src="${movie.Poster}" alt="${movie.Title} poster">
            <a href='/movies/${movie.imdbID}'>
                <h3>${movie.Title}</h3>
            </a>
            <div>
                <p><span title="Year of filming the movie">🗓️</span><span>${movie.Year}</span></p>
            </div>`;
          movieResults.appendChild(movieItem);
        });
      }
    </script>
  </body>
</html>
